body.post-type-camps #the-comment-list .row-actions .reply,
body.post-type-camps #the-comment-list .row-actions .quickedit,
body.post-type-camps #aniticonferences-sortables #add-new-comment,
body.post-type-camps #aniticonferences-sortables #show-comments a:first-child,
body.post-type-camps #comments-form .tablenav.top .actions:not( .bulkactions ) {
	display: none;
}

body.post-type-camps .fixed th.column-supports {
	width: 10%;
}

body.post-type-camps .fixed .column-topics {
	width: 5.5em;
	padding: 8px 0;
	text-align: left;
}

body.post-type-camps .column-topics .post-com-count-wrapper {
	white-space: nowrap;
	word-wrap: normal;
}

body.post-type-camps .column-topics .post-com-count-no-comments,
body.post-type-camps .column-topics .post-com-count-approved {
    margin-top: 5px;
}

body.post-type-camps .column-topics .post-com-count {
    display: inline-block;
    vertical-align: top;
}

body.post-type-camps .column-topics .comment-count-approved {
    box-sizing: border-box;
    display: block;
    padding: 0 8px;
    min-width: 24px;
    height: 2em;
    border-radius: 5px;
    background-color: #72777c;
    color: #fff;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
}

body.post-type-camps .column-topics .post-com-count-no-comments:after,
body.post-type-camps .column-topics .post-com-count-approved:after {
    content: "";
    display: block;
    margin-left: 8px;
    width: 0;
    height: 0;
    border-top: 5px solid #72777c;
    border-right: 5px solid transparent;
}

body.post-type-camps .column-topics .post-com-count-no-pending {
    display: none;
}

body.post-type-camps .column-topics .post-com-count-pending {
    position: relative;
    left: -3px;
    padding: 0 5px;
    min-width: 7px;
    height: 17px;
    border: 2px solid #fff;
    border-radius: 11px;
    background: #ca4a1f;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    text-align: center;
}

body.post-type-camps #the-comment-list span.ac-support-count,
body.post-type-camps .fixed th.column-supports,
body.post-type-camps .admin-topic-supports-heart span.dashicons {
	color: #e8596f;
	font-weight: bold;
}

body.post-type-camps #ac-topic-supports ul.admin-topic-supports {
	width: 100%;
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
}

body.post-type-camps #ac-topic-supports ul.admin-topic-supports li {
	list-style: none;
	overflow: hidden;
	position: relative;
	padding:15px 0;
	border-bottom:dotted 1px #ccc;
}

body.post-type-camps #ac-topic-supports ul.admin-topic-supports li:last-child {
	border:none;
}

body.post-type-camps #ac-topic-supports ul.admin-topic-supports li div.admin-topic-supports-heart {
	float:left;
}

body.post-type-camps #ac-topic-supports ul.admin-topic-supports li div.admin-topic-supports-heart {
	width:20%;
	font-weight: bold;
	color: #e8596f;
}

body.post-type-camps #ac-topic-supports ul.admin-topic-supports li div.admin-topic-supports-users {
	margin-left: 20%;
}

body.post-type-camps #ac-topic-supports ul.admin-topic-supports li div.admin-topic-supports-users span.user-supported {
	display:inline-block;
	margin:5px;
	padding:5px;
	-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
}

body.post-type-camps #ac-topic-supports ul.admin-topic-supports li div.admin-topic-supports-users a.del-support {
	text-decoration: none;
}

body.post-type-camps #ac-topic-supports ul.admin-topic-supports li div.admin-topic-supports-users a.del-support div {
	vertical-align: baseline;
}
