/* Utilities */
body.single-camps .screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

/* Filter bar */
#topics-toolbar {
	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 12px 0 25px;
	padding: 0 10px;
	width: 100%;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	border: 1px solid #e5e5e5;
	background: #fff;
	color: #555;
	font-size: 13px;
}

#topics-toolbar .filter-items {
	float: left;
}

#topics-toolbar .filter-links {
	display: inline-block;
	margin: 0;
}

#topics-toolbar .filter-links li {
	display: inline-block;
	margin: 0 10px;
	padding: 15px 0;
}

/* Topic Forms */
body.single-camps #respond-container,
body.single-camps #support-container {
	display: none;
}

body.single-camps #respond-container.camp-modal {
    position: fixed;
    display: block;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    z-index: 160000;
}

body.single-camps .camp-modal #respond {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    min-height: 300px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.7);
    background: #fcfcfc;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 5%;
}

body.single-camps .camp-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: 0.7;
    z-index: 159900;
}

body.single-camps .camp-modal #commentform input[type=reset] {
	background: #fff; /* Old browsers */
	border: 1px solid #ccc;
	color: #777;
	font-size: small;
	cursor: pointer;
	outline: none;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	border-radius: 0;
}

body.single-camps .camp-modal #commentform input[type=reset]:hover {
	background: #ededed;
	border: 1px solid #bbb;
	color: #555;
	outline: none;
	text-decoration: none;
}

body.single-camps #support-container.active {
	display: block;
}

/* Topics list */
.topic-awaiting-moderation,
.support-awaiting-moderation {
	border-left-width: 4px;
	border-left-color: #d98500;
	border-left-style: solid;
	color: #767676;
	font-size: 90%;
	font-style: italic;
	padding-left: 0.5em;
}

.support-awaiting-moderation {
	margin-top: 0.5em;
}

body.single-camps #comments span.ac-loved,
body.single-camps #comments span.ac-love {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-repeat: no-repeat;
	-webkit-background-size: 24px 24px;
	background-size: 24px;
	background-position: left;
	-webkit-transition: background .1s ease-in;
	transition: background .1s ease-in;
	vertical-align: middle;
}

body.single-camps #comments span.ac-loved,
body.single-camps #comments button:hover span.ac-love,
body.single-camps #comments button.ac-heart.selected {
	background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg%20fill%3D%22%23e8596f%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12%2021.35l-1.45-1.32C5.4%2015.36%202%2012.28%202%208.5%202%205.42%204.42%203%207.5%203c1.74%200%203.41.81%204.5%202.09C13.09%203.81%2014.76%203%2016.5%203%2019.58%203%2022%205.42%2022%208.5c0%203.78-3.4%206.86-8.55%2011.54L12%2021.35z%22%2F%3E%0A%3C%2Fsvg%3E");
}

body.single-camps #comments span.ac-love {
	background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg%20fill%3D%22%23e8596f%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M16.5%203c-1.74%200-3.41.81-4.5%202.09C10.91%203.81%209.24%203%207.5%203%204.42%203%202%205.42%202%208.5c0%203.78%203.4%206.86%208.55%2011.54L12%2021.35l1.45-1.32C18.6%2015.36%2022%2012.28%2022%208.5%2022%205.42%2019.58%203%2016.5%203zm-4.4%2015.55l-.1.1-.1-.1C7.14%2014.24%204%2011.39%204%208.5%204%206.5%205.5%205%207.5%205c1.54%200%203.04.99%203.57%202.36h1.87C13.46%205.99%2014.96%205%2016.5%205c2%200%203.5%201.5%203.5%203.5%200%202.89-3.14%205.74-7.9%2010.05z%22%2F%3E%0A%3C%2Fsvg%3E");
}

body.single-camps #comments button.ac-support-button,
body.single-camps #comments button.ac-heart {
	background: #fff;
	border: none;
	box-shadow: none;
	color: #fff;
	padding: 0;
}

body.single-camps #comments span.ac-support-count {
	color: #e8596f;
	font-weight: bold;
	display: inline-block;
	margin-left: 0.5em;
}

/* Media queries */
@media screen and (min-width: 48em) {
	body.single-camps .camp-modal #commentform .comment-form-author,
	body.single-camps .camp-modal #commentform .comment-form-email {
		float: left;
		width: 48%;
	}

	body.single-camps .camp-modal #commentform .comment-form-author {
		margin-right: 2em;
	}
}
